@app.route("/", methods=["GET", "POST"])
def login():
    if request.method == "POST":
        username = request.form["username"]
        password = request.form["password"]

        # Egyszerű szöveges ellenőrzés hash nélkül
        if username in USERS and USERS[username] == password:
            session["username"] = username
            os.makedirs(user_folder(username), exist_ok=True)
            return redirect(url_for("menu"))
        else:
            flash("Hibás felhasználónév vagy jelszó!")
  return redirect(url_for("menu"))


