<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Feltöltés</title>
</head>
<body>
  <div class="container">
    <h2>Fájl feltöltése</h2>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" required><br>
      <input type="submit" value="Feltöltés">
    </form>
    <a href="{{ url_for('menu') }}"><button>Vissza</button></a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color:green">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>
